UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
IndentAccessModifiers: false
AccessModifierOffset: -4
InsertNewlineAtEOF: true
